html, body {
  height: 100%;
  width: 100%;
}
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}


/* Top left text */
.top {
  font-size: 25px;
  position: absolute;
  top: 8px;
  margin: 0 42%;
}
